{% extends "base.html" %}
{% block title %}Galary Page{% endblock %}
{% block content %}
<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="heading">
            <h1 class="mb-5">Engage With Your Community Outside Of SAP!</h1>
        </div>
        <div class="mb-3 row" >
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.pixabay.com/photo/2016/11/08/05/20/sunset-1807524_960_720.jpg" height="160rem" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Adventure</h5>
                        <p class="card-text">Hiking, Backpacking, Kyaking, Paddle Boarding</p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                 </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1307&q=80" height="160rem" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sports</h5>
                        <p class="card-text">Tennis, Basketball, PingPong, Bowling, ...</p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                 </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem; height: 5erm;">
                    <img src="https://images.unsplash.com/photo-1534797258760-1bd2cc95a5bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" height="160rem" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Food</h5>
                        <p class="card-text">BBQs, Cafe Crawls, Bar Crawls, Potlocks</p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                 </div>
            </div>
        </div>
        
        
        <div class="mb-3 row">
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1600618528240-fb9fc964b853?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" height="160rem" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Spiritual Activities</h5>
                        <p class="card-text">Meditation, Book Club, ...</p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                 </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1587868579905-3c9800e065da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" height="160rem" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Board Games</h5>
                        <p class="card-text">Board Game Nights, Trivia Nights, ...</p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                 </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" height="160rem" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Video Games</h5>
                        <p class="card-text">Video Game Leagues, Dropin sessions, ...</p>
                        <a href="#" class="btn btn-primary">More Information</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}